{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TripTailor</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'triptailor/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'triptailor/base-template.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <script src="{% static 'triptailor/materialize.js' %}"></script>
    {% block header %}
    {% endblock header %}
    
</head>
<body>
    <div class="navbar-fixed">
      <nav class="teal accent-4 ">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center waves-effect waves-light"><img class="logo" src="{% static 'triptailor/logo.svg' %}" alt=""></a>
          {% if userLoggedIn %}
          <div class="profilePic">
            <img class="" id="profilePicture" src="https://goo.gl/mCRd3c">
          </div>
          {% else %}
            <ul class="right">
              <li><a href="/createuser" class=" waves-effect waves-light btn">New User</a></li>
              <li><a href="/login" class=" waves-effect waves-light btn">Log in</a></li>     
            </ul>
          {% endif %}
        </div>
      </nav>
    </div>
        

    <div class="container">
        {% block main %}
        {% endblock main %}
    </div>
</body>
</html>