{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TripTailor</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'triptailor/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'triptailor/base-template.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <script src="{% static 'triptailor/materialize.js' %}"></script>
    {% block header %}
    {% endblock header %}
    
</head>
<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center waves-effect waves-light"><img class="logo" src="{% static 'triptailor/logo.svg' %}" alt=""></a>
          {% if user.is_authenticated %}
            <ul class="right">
              <li>Welcome {{ user.get_username }}!</li>
              <li><a href="{% url 'logout'%}" class=" waves-effect waves-light btn">Logout</a></li>   
            </ul>
          {% else %}
            <ul class="right">
              <li><a href="#" >Become a Tailor</a></li> 
              <li><a href="{% url 'login'%}" >Log in</a></li>
              <li><a href="{% url 'login'%}#register" class="teal darken-1">Register</a></li>
                   
              
            </ul>  
          {$ endif $} 
          
        </div>
      </nav>
    </div>
  </header>      
  <main>
    {% block main %}
    {% endblock main %}
  </main>
   
  <footer class="page-footer teal lighten-1" style="text-align: center; padding-bottom: 1%;">
     © 2018 TripTailor Team / UNO
  </footer>
  
  {% block scripts %}
    <script>
      $('nav').addClass('teal lighten-2')
    </script>
  {% endblock scripts %}
    
</body>
</html>