{% extends "triptailor/base-template.html" %}

{% block header %}
    
{% endblock header %}
    

{% block main %}
    <div class="row">            
        {% for trip in searchResults %}
            <div class="col s12 m4 l3">
                <div class="card medium ttcards z-depth-3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="https://goo.gl/mCRd3c" alt="" class="activator"/>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator truncate">Title<i class="material-icons right">more_vert</i></span>
                        <p class="truncated" >{{ trip.details }}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title activator">Trip Details<i class="material-icons right">close</i></span>
                        <iframe src="https://www.google.com/maps/embed/v1/directions
                        ?key=AIzaSyA1ExTIWTcY3SIuhNXyG4hmw6RT4vwPCbc
                        &origin=Peter+Kewitt+Institute
                        &destination=Union+Pacific+Headquarters
                        &avoid=tolls|highways" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        {% endfor %}
 
    </div>
{% endblock main %}
    