{% extends "../registration/profile.html" %} 
{% load static %} 
{% block header %}
<style>
   
</style>
{% endblock header %}

{% block main %}
<div class="row" style="margin:auto">
    <div class="col s12 m4 l3">
        <div class="card" style="margin-top: 10%;">
            <div class="card-image">
                <img src="https://fourstateheroes.com/assets/heroes/placeholder-profile.png" alt="" class="img-circle img-fluid">
            </div>
            <div class="card-content">
                <h5>@{{ user.username}}</h5>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <ul class="flex-menu">
                    <li>
                        <strong>3</strong> active trips</li>
                    <li>
                </ul>
            </div>
        </div>
    </div>
    <h4>Guide Trips</h4>
    <div class="container">
        {% for trip in mytrips %}
        <div class="col s12 m4 l3">
            <div class="card medium ttcards z-depth-3 hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://exchangedownloads.smarttech.com/public/content/a2/a28daee5-573f-4f1d-943d-807b0fc164f5/previews/medium/0001.png"
                        alt="" class="activator" />
                </div>
                <div class="card-content activator">
                    <div class="row activator">
                        <div class="col s10 truncate activator" style="font-size: 16px">{{trip.name}}</div>
                        <div class="right">
                            <i class="material-icons right activator">more_vert</i>
                        </div>
                        <div class="left card-title activator">${{trip.cost}}</div>
                    </div>
                    <div class="row activator">
                        <div class="left activator">Max People: {{trip.maxNumTravelers}}</div>
                        <div class="right activator">Date: {{trip.date}}</div>
                    </div>
                </div>
                <div>
                    <a href="{% url 'trip' trip_id=trip.id %}">Trip Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}

{% block scripts %} 

{{ block.super }}
<script>
   
</script> 
{% endblock scripts %}