.logo{
    height: 1.9em;
}

.ttcards {
    margin-left: .1em;
    margin-right: .1em;
    margin-top: .5em;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* This img tag is to be used for resizing images to fit inside of a div with a restricted size. (preferrably a square) */
img{
    object-fit: cover; 
  }

.profilePic{
    height:20px;
    width:20px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}